/* Variables */

@font-face {
  font-weight: 400;
  font-family: "Cuprum";
  font-style: normal;

  font-display: swap;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
  url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Cuprum";
  font-style: normal;

  font-display: swap;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
  url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;

  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;

  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-greyblue: #32425C;
  --basic-darkgreyblue: #293449;
  --basic-lightgreyblue: #3D546F;
  --basic-lightgrey: #C5C5C5;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-background: #F1F5F7;
  --basic-lightbackground: #F3F7F9;
  --basic-yellowbackground: #F9F5F0;
  --basic-lightyellow: #F7F3EC;
  --basic-border: #E5E5E5;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-lightgreen: #8ED78F;
  --special-lightyellow: #FFD180;
  --special-dark: #161D29;
  --special-darkblue: #212A3A;
  --special-blueshadow: #405069;
  --special-background: #F2F6F8;
  --special-border: #EAEAEA;
  --special-text: #A9A9A9;
  --special-shadow: #367315;
  --special-green: #518534;

  --success: #5FBB2D;
  --error: #BA2732;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --grey-opacity: rgba(197, 197, 197, 0.3);
  --darkgrey-opacity: rgba(169, 169, 169, 0.3);
  --black-opacity: rgba(0, 0, 0, 0.15);
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

/* Header */

.header {
  background-color: var(--basic-lightbackground);
}

.header-logo {
  display: block;
  width: 220px;
  height: 47px;
  padding-top: 12px;
  padding-right: 57px;
  padding-bottom: 17px;
  padding-left: 55px;

  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-logo:active {
  background-color: var(--error);
}

.header-menu {
  color: var(--basic-white);

  background-color: var(--basic-darkgreyblue);
}
.header-search-btn {
  width: 17px;
  height: 17px;

  background-color: var(--basic-darkgreyblue);
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.header-search-btn:hover {
  opacity: 1;
}

.header-search-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);

  background-color: var(--basic-darkgreyblue);
  border: none;
}

.header-search-input:focus + button {
  color: var(--basic-red);

  background-color: var(--basic-white);
  opacity: 1;
}

.header-search-input:focus {
  background-color: var(--basic-white);
}

.header-search-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.header-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);

  cursor: pointer;
}

.header-link:active {
  background-color: var(--special-dark);
  opacity: 0.5;
}

.header-bookmarks::before {
  content: "";

  display: inline-block;
  width: 14px;
  height: 16px;

  vertical-align: middle;

  background-image: url("../img/icons/icon-bookmark.svg");
  opacity: 0.3;
}

.header-bookmarks[href]:hover::before {
  opacity: 1;
}

.header-cart::before {
  content: "";

  display: inline-block;
  width: 15px;
  height: 15px;

  vertical-align: middle;

  background-image: url("../img/icons/icon-cart.svg");
  opacity: 0.3;
}

.header-cart[href]:hover::before {
  opacity: 1;
}

.header-checkout-btn {
  text-align: center;

  background-color: var(--basic-green);
  cursor: pointer;
}

.header-checkout-btn[href]:hover {
  background-color: var(--success);
}

.header-checkout-btn:active {
  background-color: var(--basic-green);
  opacity: 0.5;
}

.header-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-red);
  font-style: italic;;
}

.header-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-red);
  font-style: normal;

  border: 3px solid var(--basic-white);
  cursor: pointer;
}

.header-phone::before {
  content: "";

  display: inline-block;
  width: 19px;
  height: 19px;

  vertical-align: middle;

  background-image: url("../img/icons/icon-phone.svg");
}

.header-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-greyblue);
  font-style: normal;
}

/* User navigation */

.user-navigation-item {
  list-style: none;
}

.user-navigation-link {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-black);

  background-color: var(--basic-white);
  cursor: pointer;

  fill: var(--basic-lightgrey);
}

.user-navigation-link[href]:hover {
  color: var(--basic-red);

  fill: var(--basic-lightgreyblue);
}

.user-navigation-link[href]:active {
  color: var(--basic-lightgrey);

  fill: var(--basic-lightgrey);
}

.user-data {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;

  background-color: var(--basic-white);
}

.user-name {
  color: var(--basic-black);

  cursor: pointer;
}

.user-name:active {
  color: var(--basic-lightgrey);
}

.user-exit {
  cursor: pointer;

  fill: var(--basic-lightgrey);
}

.user-exit:hover {
  fill: var(--basic-lightgreyblue);
}

.user-exit:active {
  fill: var(--basic-lightgrey);
}

.user-logo {
  fill: var(--basic-lightgrey);
}

.user-logo:hover {
  fill: var(--basic-lightgreyblue);
}

.user-logo:active {
  fill: var(--basic-lightgrey);
}

.user-menu {
  list-style: none;
}

.user-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-greyblue);

  cursor: pointer;
}

.user-menu-link[href]:hover {
  color: var(--basic-red);
}

.user-menu-link[href]:active {
  color: var(--basic-lightgrey);
}

/* Header navigation */

.main-navigation {
  background-color: var(--basic-greyblue);
}

.main-navigation-item {
  list-style: none;
}

.main-navigation-item:hover {
  background-color: var(--basic-darkgreyblue);
}

.main-navigation-item:active {
  background-color: var(--basic-darkgreyblue);
  opacity: 0.5;
}

.main-navigation-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);

  cursor: pointer;
}

/* Features */

.features-item {
  background-color: var(--special-yellow);
}

.features-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
}

.features-item-title::after {
  content: "";

  display: inline-block;
  width: 44px;
  height: 65px;

  vertical-align: middle;

  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
}

.features-item-link {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--white-opacity);
  cursor: pointer;
}

.features-item-link[href]:hover {
  background-color: var(--grey-opacity);
}

.features-item-link[href]:active {
  background-color: var(--darkgrey-opacity);
}

/* Slider */

.slider-title {
  font-size: 36px;
  line-height: 36px;
}

.slider-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
}

.slider-to-left {
  cursor: pointer;
}

.slider-to-right {
  cursor: pointer;
}

/* Popular goods */

.popular-title {
  color: var(--basic-greyblue);

  background-color: var(--basic-yellowbackground);
}

.popular-goods-list {
  list-style: none;
}

/* Popular brands  */

.popular-brands-list {
  list-style: none;
}

.popular-brands-item {
  border: 1px solid var(--special-border);
  cursor: pointer;
}

.popular-brands-item:hover {
  box-shadow: 0 4px 20px var(--black-opacity);
}

.popular-brands-item:active {
  box-shadow: 0 4px 20px var(--black-opacity);
  opacity: 0.5;
}

/* Services */

.services {
  background-color: var(--basic-background);
}

.services-list {
  list-style: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
}

.service-title {
  color: var(--basic-greyblue);
}

.services-list-item {
  background-color: var(--basic-greyblue);
  box-shadow: 0 1px 0 var(--basic-darkgreyblue), inset 0 1px 0 var(--special-blueshadow);
  cursor: pointer;
}

.services-list-item:hover {
  color: var(--basic-white);

  background-color: var(--basic-darkgreyblue);
}

.is-active {
  color: var(--basic-greyblue);

  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white), inset 0 1px 0 var(--basic-white);
}

/* Index Columns */

.index-columns {
  background-color: var(--basic-white);
}

/* About company */

.about-company-partners {
  list-style: none;
}

.about-company-partners::before {
  content: "";

  display: inline-block;
  width: 25px;
  height: 2px;

  vertical-align: middle;

  background: var(--basic-red);
}

/* Buttons */

.button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
  border: none;
  cursor: pointer;
}

.button:active {
  background-color: var(--error);
}

.button-show {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);

  background-color: var(--basic-white);
  border: 1px solid var(--special-border);
  cursor: pointer;
}

.button-buy {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);

  background-color: var(--basic-green);
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 var(--special-shadow);
  cursor: pointer;
}

.button-buy:hover {
  background-color: var(--success);
}

.button-buy:active {
  background-color: var(--special-green);
}

.button-buy::before {
  content: "";

  display: inline-block;
  width: 15px;
  height: 15px;

  vertical-align: middle;

  background-image: url("../img/icons/icon-cart.svg");
  opacity: 0.3;
}

.button-bookmark {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-greyblue);

  border: 3px solid var(--basic-green);
  border-radius: 2px;
  cursor: pointer;
}

.button-bookmark:hover {
  border: 3px solid var(--basic-greyblue);
}

.button-bookmark:active {
  border: 3px solid var(--basic-greyblue);
  opacity: 0.5;
}

.catalog-navigation-btn {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--basic-white);
  border: 1px solid var(--basic-border);
  border-radius: 2px;
  cursor: pointer;
}

.catalog-navigation-btn:hover {
  border: 1px solid var(--basic-lightgrey);
}

.catalog-navigation-btn:active {
  border: 1px solid var(--basic-red);
}

/* Footer */

.footer {
  background-color: var(--basic-greyblue);
}

.footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 25px;
  padding-left: 41px;

  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.footer-main-navigation {
  list-style: none;
}

.footer-navigation-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-background);

  cursor: pointer;
}

.footer-navigation-link[href]:hover {
  text-decoration: underline;
}

.footer-navigation-link[href]:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-extra-link {
  color: var(--special-lightyellow);
}

.footer-address {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
  font-style: normal;
}

.footer-phone {
  color: var(--basic-white);

  cursor: pointer;
}

.communications {
  background-color: var(--basic-darkgreyblue);
}

.copyrights {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
}

.social-item {
  list-style: none;
}

.social-link {
  background-color: var(--special-darkblue);
  cursor: pointer;
}

.social-link[href]:hover {
  background-color: var(--basic-red);
}

.social-link[href]:active {
  background-color: var(--basic-red);
}

.feedback {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
}

.feedback-link {
  color: var(--special-lightyellow);

  cursor: pointer;
}

.feedback-link[href]:hover {
  text-decoration: underline;
}

.feedback-link[href]:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.breadcrumbs:first-child {
  background-image: url("../img/icons/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";

  display: inline-block;
  width: 7px;
  height: 12px;

  vertical-align: middle;

  background-image: url("../img/icons/icon-right-small.svg");
}

/* Filter */

.filter {
  text-transform: uppercase;
}

.filter-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  background-color: var(--basic-lightyellow);
  border-radius: 2px;
}

.filter-subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter-list-item {
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  cursor: pointer;
}

.filter-price {
  border: none;
  border-bottom: 1px solid var(--special-border);
}

.filter-price-input {
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: var(--basic-lightyellow);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.filter-price-input[type="range"] {
  width: 220px;
  height: 80px;

  background-color: var(--basic-lightyellow);
  border-radius: 2px;
}

.filter-brands {
  border: none;
  border-bottom: 1px solid var(--special-border);
}

.filter-brands-label {
  cursor: pointer;
}

.filter-charging {
  border: none;
}

.filter-charging-label {
  cursor: pointer;
}

/* Sorting */

.sorting {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: var(--basic-lightyellow);
}

.sorting-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.sorting-item {
  list-style: none;
}

.sorting-link {
  color: inherit;

  border-bottom: 1px dotted var(--basic-red);
  cursor: pointer;
  opacity: 0.3;
}

.sorting-link[href]:hover {
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.sorting-link[href]:active {
  color: var(--basic-red);

  border: none;
}

.sorting .sorting-direction {
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.sorting .sorting-direction:hover {
  border: none;
  opacity: 1;
}

.sorting .sorting-direction:active {
  border: none;
  opacity: 1;

  fill: var(--basic-red);
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
}

.catalog-title {
  color: var(--basic-greyblue);

  background-color: var(--special-background);
}

.catalog-item {
  text-align: center;

  border: 1px solid var(--special-border);
}

.catalog-item:hover {
  box-shadow: 0 4px 20px var(--black-opacity);
}

.catalog-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);

  cursor: pointer;
}

.catalog-item .old-price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--special-text);
}

.catalog-item-price {
  display: block;
  width: 141px;
  height: 38px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 17px;
  line-height: 40px;
  color: var(--basic-white);

  background-image: url("../img/icons/red-button.svg");
  background-repeat: no-repeat;
}

/* About tool */

.about-tool {
  background-color: var(--basic-background);
}
